{% include 'overall_header.html' %}

<h1>{{ lang('GROUP_SWITCHES') }}</h1>
<p>{{ lang('GROUP_SWITCHES_EXPLAIN') }}</p>

<table class="table1">
	<col class="col1" /><col class="col1" /><col class="col2" /><col class="col2" /><col class="col2" />
	<thead>
	<tr>
		<th style="width: 50%;">{{ lang('GROUP') }}</th>
		<th>{{ lang('GROUP_ID') }}</th>
	</tr>
	</thead>
	<tbody>
		{% for group in groups %}
		<tr>
			<td><strong>{{ group.GROUP_NAME }}</strong></td>
			<td style="text-align: center;">{{ group.GROUP_ID }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% include 'overall_footer.html' %}
